*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.friend{
    display: inline-flex;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #3A4750;
    padding: 10px;
}