*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post_container{
    display: inline-flex;
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    background-color: #3A4750;
}

.profile_pic{
    
}

.timestamp{
    text-align: center;
    margin-top: 10px;
}

.user{
    font-weight: bold;
    font-family: 'Bungee';
}

.interaction{
    background-color: #303841;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}