.button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(205, 205, 205);
    font-size: 50px;
    text-align: center;
    line-height: 88%;
    color: white;
}

.button:hover{
    background-color: #e2e2e2;
}

.head {
    border: 0;
}

.headtext {
    font-weight: bold;
    font-family: "Bungee";
    color: #000000;
    margin-left: auto;
}

.close {
    margin: auto;
    height: 30px;
    width: 130px;
    border: 1px solid #000000; /* Set border style, width, and color */
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.post{
    margin: auto;
    height: 30px;
    width: 130px;
    border: 1px solid #000000; /* Set border style, width, and color */
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.foot{
    border: 0;
}

.text{
    background-color: rgb(239, 238, 238);
    width: 90%;
    height: 100px;
    border: 0;
    margin-left: 20px;
}

