* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile_container {
  display: inline-flex;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #eee;
  width: 100%;
  padding: 10px;
}

.profile_pic {
  border: black solid 1px;
  border-radius: 50%;
  min-width: 50px;
  aspect-ratio: 1/1;
  margin: 10px auto auto auto;
}

.profile_info {
  padding: 10px;
}

.username {
  color: grey;
}

.profile p {
  color: #f8f8f8;
}

.user {
  color: black;
  font-weight: bold;
  font-family: "Bungee";
}
