.container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(30vw, 1fr)
  ); /* Adjust 300px to your desired width */
  grid-gap: 20px; /* Adjust the gap between grid items */

  margin: 7em 3% 0 3%;
}
