* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.friend-container {
  display: inline-flex;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #eee;
  width: 100%;
  max-height: 7.5em;
  min-height: 7.5em;
  padding: 10px;
}

.friend-container .profile-pic {
  border: black solid 1px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 auto auto auto;
  margin-top: 10px;
}

.friend-container .friend-info {
  padding: 10px;
  margin-left: 10px;
}

.friend p {
  color: #f8f8f8;
}
